<%-include("partials/header")-%>
<h1>COMPOSE</h1>
<form action="/compose" method="post">
    <div class="form-group">
    <label for="contentTitle">Title</label><br>
    <input type="text" placeholder="don't use any special characters in title" name="contentTitle" class="form-control" id="contentTitle" autocomplete="off" required>

    <label for="contentTitle">Post</label>
    <textarea class="form-control" name="contentBody" rows="7" required></textarea>
    </div><br>
    <button class="btn btn-info" type="submit">Publish</button>
</form>
<%-include("partials/footer")-%>