body{
    background-color:rgba(247, 184, 184, 0.342);
    /* background-image: url(https://iiitl.ac.in/pgdds1/assets/img/about.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    letter-spacing: 5px;
}
.hell {
    padding-top: 50px;
    letter-spacing: 1px;
}
.navbar {
    /* position: absolute; */
    letter-spacing: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size:larger;
}
.navbar-brand{
    font-size: xx-large;
    /* color: #fff; */
}
.navbar a{
    /* color: #fff; */
    /* margin: 2px; */
    padding: 1%;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
.box{
    color: #f9f1f1;
    background-color:rgba(95, 66, 66, 0.74);
    margin: 5px;
    outline:solid 2px white ;
    padding: 10px;

    border-radius: 5px;
    /* text-align: center; */
}
.topics{
    text-align: center;
    letter-spacing: 7px;
}
.postTitle{   
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255, 129, 129, 0.886),rgba(255,0,0,0));
    /* background-color: antiquewhite; */
    /* width:max-content; */
}
.postContent{
    text-align: center;
    padding: 10px;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}
a{
    color: #ffffff;
}
a:hover{
    color: #1abc9c;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body{
        font-size: larger;
    }
    .navbar a{
        font-size: x-large;
    }
  }